<!DOCTYPE html>
<html  ng-app='SeniorApisModule' style="height: auto; min-height: 100%;">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="./style/senior/seniorAmelia.css" rel="stylesheet" type="text/css">
  <title>Senior Telecom</title>
</head>
<body>
<div class="videos" ng-controller="SeniorApisVideoController as Senior" style="height: 100%; width: 100%;">
  <div id="subscriber">
      <div id="publisher">
      </div>
      <img ng-model="loadingImage" src="./images/Loading.gif" ng-show="Senior.showLoading">
      <div id="ButonsActions">
        <button id="BotonStartRecord" ng-click="Senior.DoStartStopArchive()"></button>
      </div>
  </div>  
</div>
    <!-- Libs -->
    <script src="lib/jquery-2.1.4.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <!--SeniorApis Module -->
    <script src="src/SeniorApis.module.js"></script>
    <!--<script src="src/loading/loading.component.js"></script>-->
    <!--<script src="src/loading/loading.interceptor.js"></script>-->
    <!--SeniorApis Controller -->
    <script src="src/SeniorApis.controller.js"></script>
    <script src="src/SeniorApis.video.controller.js"></script>
    <!--SeniorApis Service -->
    <script src="src/SeniorApis.service.js"></script>
    <script src="src/SeniorApis.Dynamics.js"></script>
    <!--OPENTOK -->
    <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
</body>
</html>