  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1136px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="">
        <h2 class="headline text-yellow"></h2>

        <div class="error-content">
          <h3><i class="fa fa-check text-green"></i>  Interacción finalizada</h3>

          <p>
            La interacción ha finalizado.
            Esperando una nueva llamada o chat o email... o lo que sea....

          </p>
          
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>