  <div class="content-wrapper" style="min-height: 956px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>        
        <a href="CrmDemoProfile.html#" class="dropdown-toggle" data-toggle="dropdown">
          <img src={{Odigo.CrmSelectedContact.Image}} class="profile-user-img img-circle" alt="User Image">
          <span class="hidden-xs">{{Odigo.CrmSelectedContact.Name}} {{Odigo.CrmSelectedContact.LastName}}</span>
        </a>
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="profile"><i class="fa fa-user"></i>Ficha Cliente</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">CODIFICACIÓN DE LA INTERACCIÓN</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                
                <div class="form-group">
                  <label>Selecciona motivo de la interacción</label>
                  <select class="form-control">
                    <option>Información de producto</option>
                    <option>Información de facturación</option>
                    <option>Reporte de incidencia</option>
                    <option>Solicitud de baja de servicio</option>
                    <option>Otros</option>
                  </select>
                </div>                
                <!-- checkbox -->
                <div class="form-group">
                  <label>Selecciona los productos ofrecidos durante la llamada</label>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      Informamos sobre nuevos nuevo paquete de televisión
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      Ofrecemos la factura electronica
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" >
                      Ofrecemos las nuevas promociones que tiene disponible el cliente
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" >
                      Ofrecemos la segunda linea al 50% de descuento
                    </label>
                  </div>                  
                </div>

                <div class="form-group">
                  <label>Selecciona la persona de contacto</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Con el titular del contrato
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Con el conyuge del contrato
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                      Con otro tipo de familiar
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                      No estaba presente
                    </label>
                  </div>                  
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                      Otros
                    </label>
                  </div>                                    
                </div>

                <!-- textarea -->
                <div class="form-group">
                  <label>Observaciones sobre la interacción</label>
                  <textarea class="form-control" rows="3" placeholder="Introducre las observaciones de la interacción..."></textarea>
                </div>



                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Informamos sobre GDPR (Ley de protección de datos)
                  </label>
                </div>                
              </div>              <!-- /.box-body -->
                <!-- select -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Guardar</button>
              </div>
            </form>
          </div>
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-1">
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->