  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1136px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="">
        <h2 class="headline text-yellow"></h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-yellow"></i>Contacto {{Odigo.LastSearchSearchId}} no encontrado</h3>

          <p>
            El contacto buscado no se encuentra en nuestra base de datos de clientes.

            Por favor, intentelo con Nombre, Apellidos o Codigo de cliente.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" ng-model="Odigo.SearchId" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button ng-click="Odigo.SearchContact();" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
  </div>