<div class="content-wrapper" style="min-height: 956px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <a ui-sref="profile" class="dropdown-toggle" data-toggle="dropdown">
        <img src="../../crm/images/MasMovil.png" class="profile-user-img">
        <span class="hidden-xs"></span>
      </a>
    </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="profile"><i class="fa fa-user"></i>Ficha Cliente</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="Script">
    <div class="row">
      <!-- left column -->
      <div class="col-md-1">
      </div>
      <div class="col-md-10" style="text-align: center;">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-weight: bold;">Proceso de Cancelación de alta o portabilidad</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->          
        </div>

        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title" style="text-align: center;">
              Vamos a proceder a la grabación de la llamada como medio de consentimiento de la cancelación de tu servicio.
              <br>
              <br>
              Por favor, contesta sí o no a las preguntas que te vaya haciendo
            </h3>        
          </div>
        </div>
          <!-- /.box-body -->
          <div class="form-group" data-select2-id="13">
            <label>¿Eres el titular de los servicios en Senior Telecomunicaciones?</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">            
              <option data-select2-id="0"></option>
              <option data-select2-id="1">Si</option>
              <option data-select2-id="2">No</option>
            </select>          
          </div>
          <div class="form-group" data-select2-id="13">
            <label>¿Tu nombre y apellidos son [Felipe Troleo Ducto]?</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">            
              <option data-select2-id="0"></option>
              <option data-select2-id="1">Si</option>
              <option data-select2-id="2">No</option>
            </select>          
          </div>          
          <div class="form-group" data-select2-id="13">
            <label>¿Tu DNI es 524445566F?</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">            
              <option data-select2-id="0"></option>
              <option data-select2-id="1">Si</option>
              <option data-select2-id="2">No</option>
            </select>          
          </div>
          <div class="form-group" data-select2-id="13">
            <label>¿Las numeraciones que quieres cancelar son 699479614?</label>
            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;"  tabindex="-1" aria-hidden="true">            
              <option data-select2-id="0"></option>
              <option data-select2-id="1">Si</option>
              <option data-select2-id="2">No</option>
            </select>          
          </div>          
       
           

          <!-- /.box-footer-->
                
        


        
          <div class="row">
            <!-- left column -->
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
              <button type="button" ui-sref="profile" class="btn btn-block btn-info"><< Atras</button>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
              <button type="button" ui-sref="script2" class="btn btn-block btn-info">Siguente >></button>
            </div>                        
            <div class="col-md-1">
            </div>            
          </div>
          
        

      </div>
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-1">
      </div>
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->